# -*-Mode: makefile;-*-
#****************************************************************************

CC  = g++
CXX = g++ -std=gnu++11 -Wno-deprecated-declarations  #-std=c++11, -std=c++0x

LINKER = $(CXX) #-v

#****************************************************************************

# Auto-discover root directory (may need make 3.81+)
mkfile_defs := $(word $(words $(MAKEFILE_LIST)),$(MAKEFILE_LIST))

mkfile_defs_root := $(abspath $(dir $(mkfile_defs)))

#****************************************************************************

PALM_ROOT ?= $(mkfile_defs_root)/../../palm/trunk

PALM_MIAMI_ROOT := $(abspath $(dir $(mkfile_defs)))

PALM_EXT_ROOT ?= $(PALM_ROOT)/../../palm-externals/trunk

PALM_EXT_HPCTKEXT_ROOT ?= $(PALM_EXT_ROOT)/hpctoolkit-externals/x86_64-linux-$(MYCFG_SYSNAMESHORT)

DYNINST_ROOT = $(PALM_EXT_HPCTKEXT_ROOT)/symtabAPI
DYNINST_INC = $(DYNINST_ROOT)/include
DYNINST_LIB = $(DYNINST_ROOT)/lib

XED_ROOT = $(PALM_EXT_HPCTKEXT_ROOT)/xed2
XED_INC = $(XED_ROOT)/include
XED_LIB = $(XED_ROOT)/lib

BINUTILS_ROOT = $(PALM_EXT_HPCTKEXT_ROOT)/binutils

BOOST_ROOT = $(PALM_EXT_HPCTKEXT_ROOT)/boost
BOOST_INC = $(BOOST_ROOT)/include
BOOST_LIB = $(BOOST_ROOT)/lib

#****************************************************************************

MIAMI_TARGET = $(PALM_MIAMI_ROOT)/install
