# -*-Mode: makefile;-*-
#****************************************************************************
#include ../Makefile-defs.mk

CC  = g++
CXX = g++ -std=gnu++11 -Wno-deprecated-declarations  #-std=c++11, -std=c++0x

LINKER = $(CXX) #-v

#****************************************************************************

# Auto-discover root directory (may need make 3.81+)
#mkfile_defs_mia := $(word $(words $(MAKEFILE_LIST)),$(MAKEFILE_LIST))
#mkfile_defs ?= $(word $(words $(MAKEFILE_LIST)),$(MAKEFILE_LIST))

#mkfile_defs_mia_root := $(abspath $(dir $(mkfile_defs_mia)))
#mkfile_defs_root ?= $(abspath $(dir $(mkfile_defs)))

#****************************************************************************

#MEMGAZE_ROOT ?= $(mkfile_defs_root)/../..

#MEMGAZE_MIAMI_ROOT := $(abspath $(dir $(mkfile_defs_mia)))
#MEMGAZE_MIAMI_ROOT := $(abspath $(dir $(mkfile_defs)))
#MEMGAZE_MIAMI_ROOT := $(MEMGAZE_ROOT)/bin-anlys/

#MEMGAZE_EXT_ROOT ?= $(MEMGAZE_ROOT)/palm-externals/

#MEMGAZE_EXT_HPCTKEXT_ROOT ?= $(MEMGAZE_EXT_ROOT)/hpctoolkit-externals/

#DYNINST_ROOT = $(MEMGAZE_EXT_HPCTKEXT_ROOT)/symtabAPI
#DYNINST_ROOT ?= /home/kili337/src/DYNINST_Xaozhu/dyninst/install
#DYNINST_ROOT ?= /files0/kili337/TestBed/memgaze/palm-externals/dyninst/install
#DYNINST_INC = $(DYNINST_ROOT)/include
#DYNINST_LIB = $(DYNINST_ROOT)/lib

#XED_ROOT ?= $(MEMGAZE_EXT_HPCTKEXT_ROOT)/xed2
#XED_ROOT ?= /files0/kili337/TestBed/memgaze/palm-externals/hpctoolkit-externals/xed2/kits/xed-install-base-2015-09-10-lin-x86-64/
#XED_INC = $(XED_ROOT)/include
#XED_LIB = $(XED_ROOT)/lib

#BINUTILS_ROOT ?= $(MEMGAZE_EXT_HPCTKEXT_ROOT)/binutils
#BINUTILS_INC = $(BINUTILS_ROOT)/include

#BOOST_ROOT ?= $(MEMGAZE_EXT_HPCTKEXT_ROOT)/boost
#BOOST_INC = $(BOOST_ROOT)/include
#BOOST_LIB = $(BOOST_ROOT)/lib

#TBB_ROOT ?= $(MEMGAZE_EXT_HPCTKEXT_ROOT)/boost
#TBB_INC = $(TBB_ROOT)/include
#TBB_LIB = $(TBB_ROOT)/lib


#****************************************************************************

#MIAMI_TARGET = $(MEMGAZE_MIAMI_ROOT)/install
